[Unit]
Description=api service

[Service]
ExecStart=/usr/local/bin/uvicorn app.main:app --app-dir=/home/pi/project/api/api --host=0.0.0.0
StandardOutput=file:/home/pi/project/api/log/logfile
StandardError=file:/home/pi/project/api/log/logfile

[Install]
WantedBy=multi-user.target