[Unit]
Description=camera motor service

[Service]
ExecStart=/usr/bin/python3.9 /home/project/cam_motor_module/main.py
StandardOutput=file:/home/project/cam_motor_module/log/logfile
StandardError=file:/home/project/cam_motor_module/log/logfile
Restart=always

[Install]
WantedBy=multi-user.target