[Unit]
Description=camera streaming service

[Service]
ExecStart=/usr/bin/python3 /home/pi/project/object_detection_module/client.py
StandardOutput=file:/home/pi/project/object_detection_module/log/logfile
StandardError=file:/home/pi/project/object_detection_module/log/logfile

[Install]
WantedBy=multi-user.target